<!-- Footer -->
<footer class="bg-primary lg:px-10 px-6 pt-20">
    <div class="container mx-auto px-6 flex flex-col md:flex-row items-center justify-between">
        <div class="text-center md:text-left">
            <img src="../assets/images/logos/MainLogo.jpg" class="w-50 h-20">
            <!-- <h2 class="text-3xl font-extrabold text-gray-900">PXIL</h2> -->
            <div class="flex space-x-4 mt-4">
                <a href="#"><img src="appstore.png" alt="App Store" class="h-10"></a>
                <a href="#"><img src="googleplay.png" alt="Google Play" class="h-10"></a>

            </div>
            <p>&copy; 2025 PXIL. All Rights Reserved.</p>
        </div>
        <div class="grid grid-cols-2 md:grid-cols-4 gap-8 text-gray-700 text-medium mt-6 md:mt-0 border-2 ">
            <div>
                <h3 class="font-bold mb-2 text-lg">What We Do</h3>
                <ul>
                    <li><a href="#" class="hover:underline">Features</a></li>
                    <li><a href="#" class="hover:underline">Security</a></li>
                    <li><a href="#" class="hover:underline">Business</a></li>
                    <li><a href="#" class="hover:underline">Services</a></li>
                </ul>
            </div>
            <div>
                <h3 class="font-bold mb-2 text-lg">Use PXIL</h3>
                <ul>
                    <li><a href="#" class="hover:underline">Android</a></li>
                    <li><a href="#" class="hover:underline">iPhone</a></li>
                    <li><a href="#" class="hover:underline">Mac/PC</a></li>
                    <li><a href="#" class="hover:underline">PXIL Web</a></li>
                </ul>
            </div>
            <div>
                <h3 class="font-bold mb-2 text-lg">About</h3>
                <ul>
                    <li><a href="#" class="hover:underline">Blog</a></li>
                    <li><a href="#" class="hover:underline">Meet The Team</a></li>
                    <li><a href="#" class="hover:underline">Contact Us</a></li>
                </ul>
            </div>
            <div>
                <h3 class="font-bold mb-2 text-lg">Social Media</h3>
                <ul>
                    <li><a href="#" class="hover:underline">Twitter</a></li>
                    <li><a href="#" class="hover:underline">LinkedIn</a></li>
                    <li><a href="#" class="hover:underline">GitHub</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="bg-blue-700">

    </div>
</footer>




