<!-- Navbar -->
<nav id="navbarScroll" class="fixed top-0 left-0 w-full bg-white shadow-lg z-50">
  <!-- Top Contact Bar -->
  <div class="flex justify-between items-center gap-4 bg-primary text-white lg:px-10 px-6 py-2">
    <div class="flex items-center gap-2">
      <span class="material-symbols-outlined text-sm">
        mail
      </span>
      Email Us:
      <a href="mailto:info@pxil.co.in" class="hover:text-tertiary transition duration-500">info@pxil.co.in</a>
    </div>

    <div class="flex items-center gap-2">
      <span class="material-symbols-outlined text-sm">
        call
      </span>
      Call Us:
      <a href="tel:+911140756000" class="hover:text-tertiary transition duration-500">+91 11 4075 6000</a>
    </div>
  </div>

  <!-- Main Navbar -->
  <div class="flex justify-between items-center px-10 pt-3">
    <!-- Logo -->
    <a href="/">
      <img src="/assets/images/logos/MainLogo.jpg" class="w-60 p-1" alt="Logo" />
    </a>

    <!-- Nav Links -->
    <ul class="navbar-links">
      <li>
        <a href="/" class="mainNavLink">Home</a>
      </li>
      <li>
        <a href="/about-us.html" class="mainNavLink">About Us</a>
      </li>
      <li class="navbar-dropdown">
        <a href="#">Trading<i class="fa-solid fa-chevron-down"></i></a>
        <div class="dropdown">
          <a href="#">Business Rules & Bye-Laws</a>
          <a href="#">Technology</a>
          <a href="#">Clearing</a>
          <a href="#">Membership</a>
        </div>
      </li>
      <li class="navbar-dropdown">
        <a href="#">Market<i class="fa-solid fa-chevron-down"></i></a>
        <div class="dropdown">
          <a href="#">Integrated Day Ahead Spot</a>
          <a href="#">Real Time Market</a>
          <a href="#">Term Ahead Market</a>
          <a href="#">GTAM</a>
          <a href="#">REC</a>
          <a href="#">ESCERT</a>
          <a href="#">LDC(Reverse Auction)</a>
          <a href="#">Bid Area Details</a>
          <a href="#">Price Volume Data For DSM</a>
          <a href="#">Regulations</a>
          <a href="#">Complaints</a>
        </div>
      </li>
      <li class="navbar-dropdown">
        <a href="#">News<i class="fa-solid fa-chevron-down"></i></a>
        <div class="dropdown">
          <a href="#">News</a>
          <a href="#">Press Releases</a>
          <a href="#">Articles</a>
          <a href="#">Useful Links</a>
        </div>
      </li>
      <li>
        <a href="https://trading.pxil.in/" target="_blank">Pratyay Login</a>
      </li>
      <li>
        <a href="/contact-us.html" class="mainNavLink">Contact Us</a>
      </li>
    </ul>



    <!-- Social Icons -->
    <div class="flex space-x-4 pb-3">
      <a href="https://www.facebook.com/PXILINDIA#" target="_blank" class="text-gray-700 text-lg hover:text-primary transition duration-300">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="https://www.instagram.com/pxilindia/" target="_blank" class="text-gray-700 text-lg hover:text-primary transition duration-300">
        <i class="fa-brands fa-instagram"></i>
      </a>
      <a href="https://x.com/exchange_power?lang=en" target="_blank" class="text-gray-700 text-lg hover:text-primary transition duration-300">
        <i class="fa-brands fa-x-twitter"></i>
      </a>
      <a href="https://www.linkedin.com/company/power-exchange-india-limited?originalSubdomain=in" target="_blank" class="text-gray-700 text-lg hover:text-primary transition duration-300">
        <i class="fab fa-linkedin-in"></i>
      </a>

    </div>
  </div>
</nav>

<!-- To prevent content from being hidden behind fixed navbar -->
<!-- <div class="mt-24"></div> -->