<!-- Header -->
<nav class="fixed top-0 left-0 w-full bg-white shadow-lg z-50">
  <!-- Social Media Icons -->
  <div class="absolute top-0 left-1/2 flex space-x-4 bg-primary rounded-b-full px-6 py-1">
    <a href="#" class="text-white text-md hover:text-tertiary transition duration-300">
      <i class="fab fa-facebook-f"></i>
    </a>
    <a href="#" class="text-white text-md hover:text-tertiary transition duration-300">
      <i class="fa-brands fa-x-twitter"></i>
    </a>
    <a href="#" class="text-white text-md hover:text-tertiary transition duration-300">
      <i class="fab fa-linkedin-in"></i>
    </a>
    <a href="#" class="text-white text-md hover:text-tertiary transition duration-300">
      <i class="fa-brands fa-instagram"></i>
    </a>
  </div>

  <!-- Logo & Contact -->
  <div class="bg-white px-10 py-4 flex justify-between items-center gap-4">
    <a href="index.html">
      <img src="/assets/images/logos/MainLogo.jpg" class="w-60" alt="Logo" />
    </a>
    <div class="flex items-center gap-4">
      <div class="flex items-center gap-2 group">
        <span
          class="material-symbols-outlined border-2 border-primary p-2 text-primary group-hover:bg-primary group-hover:text-white transition duration-500">
          mail
        </span>
        <div>
          <div class="text-xl font-bold uppercase text-primary">Email Us At</div>
          <a href="mailto:info@pxil.co.in" class="hover:text-primary transition duration-500">info@pxil.co.in</a>
        </div>
      </div>

      <div class="flex items-center gap-2 group">
        <span
          class="material-symbols-outlined border-2 border-primary p-2 text-primary group-hover:bg-primary group-hover:text-white transition duration-500">
          call
        </span>
        <div>
          <div class="text-xl font-bold uppercase text-primary">Call Us At</div>
          <a href="tel:+911140756000" class="hover:text-primary transition duration-500">+91 11 4075 6000</a>
        </div>
      </div>
    </div>


  </div>

  <!-- Main Navbar -->
  <div class="container mx-auto flex justify-center border-t items-center px-10 py-3">
    <ul class="flex gap-8 text-lg font-semibold text-gray-700">
      <li><a href="index.html" class="hover:text-blue-600 transition">Home</a></li>
      <li><a href="#" class="hover:text-blue-600 transition">Trading</a></li>
      <li><a href="../market/trading.html" class="hover:text-blue-600 transition">Market</a></li>
      <li><a href="../about-us.html" class="hover:text-blue-600 transition">About</a></li>
      <li><a href="../contact-us.html" class="hover:text-blue-600 transition">Contact</a></li>
      <li><a href="#" class="hover:text-blue-600 transition">News</a></li>
      <li><a href="#" class="hover:text-blue-600 transition">Pratyay Login</a></li>
    </ul>
  </div>
</nav>

<!-- To prevent content from being hidden behind fixed navbar -->
<div class="mt-24"></div>